body{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    background-color: hsl(210, 60%, 98%);
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }