body{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    background-color: hsl(210, 60%, 98%);
}

img{
    max-width: 100%;
}
.main{
    max-width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
header{
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
header *{
    margin: 0;
}
h1{
    font-size: 1.25em;
}
h1 span{
    padding: 0 .5em;
    color: white;
    border-radius: 10px;
    background-color: hsl(219, 85%, 26%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
header p{
    cursor: pointer;
    color: hsl(219, 12%, 42%);
}
header p:hover{
    color: hsl(228, 45%, 44%);
}
main{
    padding: 1rem;
    margin-top: 57.6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: .86em;
}
section.unread{
    background-color: hsl(211, 68%, 94%);
    border-radius: 7px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
section.unread:hover{
    background: hsla(211, 68%, 94%, 0.5);
}
section.unread h2::after{
    content: "";
    display: inline-block;
    width: .65em;
    aspect-ratio: 1/1;
    margin-left: 5px;
    background-color: hsl(1, 90%, 64%);
}
section.unread h2::after, .profile{
    border-radius: 100px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.profile{
    align-self: flex-start;
    min-width: 35px;
    position: relative;
    aspect-ratio: 1/1;
    display: block;
}
.profile img{
    position: absolute;
}
h2{
    font-size: 1em;
    margin: 0;
    color: hsl(219, 12%, 42%);
    font-weight: 500;
}
h2 .name{
    color: black;
}
h2 span{
    transition: 0.1s;
    cursor: pointer;
    font-weight: 800;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
h2 span:hover{
    color: hsl(219, 85%, 26%);
    text-shadow: 0 1px 5px #00000017;
}
section.type2 h2 span:last-of-type{
    color: hsl(219, 85%, 26%);
}
section p:first-of-type{
    color: hsl(219, 14%, 63%);
    margin: 0;
}
section.type3 p:last-of-type{
    border: 1px solid hsl(219, 14%, 63%);
    padding: 1rem;
    color: hsl(219, 12%, 42%);
    border-radius: 7px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
section.type3 p:last-of-type:hover{
    background-color: hsl(211, 68%, 94%);
    border: 1px solid hsl(211, 68%, 94%);
}
section.type4 picture:last-of-type{
    width: 4em;
    height: min-content;
    display: flex;
    cursor: pointer;
    margin-left: auto;
    border-radius: 8px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
section.type4 picture:last-of-type:hover{
    outline: 3px solid hsl(205, 33%, 90%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 500px) {
    body{
        display: block;
    }
    .main{
        border-radius: 0;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}